

li,div{
    color : green;
}

body{

    margin: 0%;
    padding: 0%;

    box-sizing: border-box;


   
    /* background-color: aqua; */

    /* background-image: url("./images/background.jpg"); */

    /* background-repeat: no-repeat; type br    for background-repeat */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */



    /* background-repeat:no-repeat;   */
        
            /*repeat  no-repeat   reapeat-x   -y*/
    


    /* background-position:right top; */
        /* right top left bottom    right top    etc*/


    /* background-attachment: fixed;  */    
          /* image is fixed   as u scroll image right top pe fix ho gi   , as u scrolll , will See the Image  */


    /* background-attachment:fixed;  */


    /* background: #ffff00  url("../images/background.jpg")  no-repeat  right top; */

}






.brdr,.lorem{
    border: 2px solid green;

    width: 50%;
    height: 500px;

    text-align: left;

    /* font-size: 1.4em;   1em  = 16px*/   

    font-size: 1.4vw;  /* For responsive*/

    margin: auto;

    outline: 2px solid black;

    border-radius: 2%;


    font-family: sans-serif;
    font-style: italic;
     


}


.googleLink{
    
    /* text-decoration: none;
    text-decoration: overline;
    text-decoration: underline; */

    text-decoration:line-through;
    
    text-transform: uppercase;

    /* text-transform: lowercase;
    text-transform: capitalize;   Camel Case   */

    
    
}


a{
    text-decoration: none;
    text-transform: capitalize;  
    letter-spacing: 2px;

}

a:hover{
    background-color:black;
    color: white;

    font-size: 1.5em;
}




ul{
    list-style-type: none;
}


/*

.nav{
    background-color: cyan;
}


.items{
    background-color:rgb(193, 193, 193);
    margin: 0%;
    height: 75px;

    padding-top: 50px;

    width: 50%;     

    margin-left: auto;     
}

.item{
    display: inline;
}


*/





.nav{
    background-color: black;
}


.items{
    background-color:black;

    margin: 0;
    height: 24px;

    padding:24px;

    width: 50%;     

    margin-left: auto;     
}


.item{
    display: inline;
}


a{

    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;

    color: white;

    margin: 0px 20px;

    font-size: 1.2vw;
}

a:hover{

    color: rgb(21,235,85);
}








/* Position  */
/* static  normal  , relative :  from current postion */




.lorem{

    /* position: relative;    
    top: 100px;   Current position se 100px below  , u will see the Same   */



/* 
    position: fixed;
   
    bottom: 0;
    right: 0; */



    /* position: absolute;   vo jis bhi div k andr hai  , uske hisab se    top right down left  le lega    , bcz not inside of any div  , now taking as per body tag 
    left: 30px;
    top: 50px; */
 


    background-color: white;

}




.container{


        height: 400px;


        margin: 200px  30px 50px 30px;

        border: 2px solid black;


        outline: 2px solid green;

        box-sizing: border-box  ;
}



.first{
    background-color: red;
    height: 50px;

    width: 30%;

    display: inline-block;



    float: right ;
}

.second{
    background-color: blue;
    height: 50px;

    width: 30%;

    display: inline-block;


}












/*   Flex    */



.myflex{

            box-sizing: border-box;

            
            
            
             margin: auto;

             margin-top: 300px;
            border: 2px solid black;



            display: flex;

            /* flex-direction: row; */
            /* flex-direction: column; */



            /* flex-direction: row-reverse; */

            /* flex-direction: column-reverse; */


            flex-direction: row;
            flex-wrap: wrap;



            /* justify-content: center;  */
            
            /* justify-content: flex-start;  */

            /* justify-content: flex-end;  */   
            /* justify-content: right;  Same as uuper */


            height: 500px; 

            background-color: gray;


            justify-content: center;
            align-items: center;




}




.myflex > div{
    
    
    background-color: red;
    width : 80px;
    height: 80px;


    border: 1px solid grey;

    color: black;

    margin: 5px;


}